td {
  background-color: lavenderblush;
  height: 20px;
  width: 20px;
}

.snakeBody {
  background-color: aquamarine;
}

.snakeHead {
  background-color: cyan;
}

.snakeHead.flash {
  background-color: red;
}

#grid {
  width: 482px;
  margin: 50px auto;
}

#gameOver {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  position: absolute;
  width: 482px;
  line-height: 470px;
}

.food {
  background-image: url("food.png");
  background-size: cover;
}
